[Unit]
Description=Media Node
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStart=

[Install]
WantedBy=default.target
