[Unit]
Description=VLC Media Player + RC Interface
After=graphical.target

[Service]
Restart=always
Environment="DISPLAY=:0"
ExecStart=

[Install]
WantedBy=graphical.target
WantedBy=default.target